@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  background-color: #f9f9f9;
  border: 1.5px solid #ececec;
}

.course h6 {
  opacity: 0.6;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: left;
}

.course p {
  margin-top: 20px;
  text-align: left;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
  text-align: left;
  font-size: 20px;
}

.course h3 {
  letter-spacing: 1px;
  margin: 10px 0;
  text-align: left;
}

.course-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.course-info {
  padding: 25px;
  position: relative;
  width: 100%;
}
